@model WebApplication1.Models.Order

<h3>Last Order</h3>
<div style="width:500px;padding:40px; border:1px solid black;">
    <p> Order ID: @Model.OrderId </p>
    <p> Oreder Date: @Model.OrderDate</p>
</div>

